<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Departure board</title>
    <meta charset="utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="refresh" content="60"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous"/>
    <style>
        body {
            background-color: black;
            color: white;
        }
        img {
            float: left;
            width: 33px;
            height: 33px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .left {
            float:left;
        }

    </style>
</head>
<body>

<div class="container">
    <h1 th:text="${nextDepartures.serverdate}"></h1>
    <div th:each="departure : ${nextDepartures.departure}" style="row">
        <div class="col-xs-2">
            <img th:src="@{/img/tram-2-64.png}"/>
            <h2 th:text="${departure.sname}"></h2>
        </div>
        <div class="col-xs-10">
            <h2 th:text="${departure.time + ' minuter'}"></h2>
        </div>
    </div>
</div>
</body>
</html>